body {
    margin: 0;
    padding: 0;
    background: white no-repeat center center fixed; /* 添加一个背景图片 */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif; /* 更改全局字体 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-title {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
    font-size: 3em; /* 更大的字体大小 */
    border-radius: 10px;
}


.header-title h1 {
    margin: 0;
}

.glass-navbar {
    width: 100%;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px; /* 添加这行来给导航栏添加圆角 */
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
}

.glass-navbar ul {
    list-style-type: none;
    text-align: center;
}

.glass-navbar li {
    display: inline;
    margin: 0 30px;
    padding: 10px; /* 增加点垫片，使得导航更有趣 */

}

.glass-navbar a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 1.2em; /* 更大的字体大小 */
    opacity: 0.25;
    transition: 0.25s;

}

.glass-navbar ul li.active a {
    color: rgb(0, 0, 0); /* 添加鼠标悬停时的颜色变化 */
    opacity: 1;
}
.logo {
    width: 350px; /* 调整 logo 宽度 */
    margin-bottom: 20px; /* 在 logo 和导航栏之间添加一些间距 */
    position: relative; /* 设置为相对定位 */
    left: -2.5%;
}

.logo img {
    width: 100%; /* 使图片填充整个 .logo 容器 */
}

.hidden {
    display: none; /* 隐藏元素 */
}
#marker{
    position: absolute;
    top: 0;
    transition: 0.5s;
    z-index: 1;
}

#marker::before{

    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 40px;
    border-radius: 8px;



}
ul li:nth-child(1).active ~ #marker::before{
    background: #4ed5c3;
    box-shadow: 0 0 15px #4ed5c3,
    0 0 30px #4ed5c3,
    0 0 45px #4ed5c3,
    0 0 60px #4ed5c3
}
ul li:nth-child(2).active ~ #marker::before{
    background: #ffd700;
    box-shadow: 0 0 15px #ffd700,
    0 0 30px #ffd700,
    0 0 45px #ffd700,
    0 0 60px #ffd700
}
ul li:nth-child(3).active ~ #marker::before{
    background: #49d720;
    box-shadow: 0 0 15px #49d720,
    0 0 30px #49d720,
    0 0 45px #49d720,
    0 0 60px #49d720
}